<div data-ng-controller="ProfileController as vm" data-ng-init="vm.init()">
	<div layout="row" layout-padding  class="cover client_cover">
		<div layout-align="center" layout-padding flex>
			<h1 hide-xs>Meus Perfis</h1>
			<h3 hide-gt-sm hide-sm>Meus Perfis</h3>
		</div>
		<div layout-align="end center" hide-xs>
			<md-button class="md-raised md-fab md-primary button_cover" title="Novo Perfil" title="Novo Perfil"
				aria-label="Novo Perfil" data-ui-sref="admin.perfis.novo">
				<md-icon md-font-library="material-icons">add</md-icon>
			</md-button>
		</div>

		<div layout-align="end center" hide-gt-sm hide-sm>
			<md-button class="md-raised md-fab md-mini md-primary button_cover"
				aria-label="Novo Perfil" data-ui-sref="admin.perfis.novo">
				<md-icon md-font-library="material-icons">add</md-icon>
			</md-button>
		</div>
	</div>
	<p ng-repeat="(name, errs) in vm.errors" class="alert alert-danger"><strong>Erro! </strong>: {{ errs }}</p>
	<div layout="row" flex="80">
		<md-input-container class="md-icon-float md-block" flex-gt-sm>
			<label>Nome do Perfil</label>
			<md-icon>face</md-icon>
			<input ng-model="vm.search.name" type="text">
		</md-input-container>
	</div>
	<md-card flex data-ng-repeat="profile in vm.profiles | filter: {nome: vm.search.name}">
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">{{profile.nome}}</span>
				<span class="md-subhead"><strong>Histórico: </strong> {{profile.historico}}</span>
			</md-card-title-text>
			<md-card-title-media hide-xs title="{{profile.nome}}">
				<i class="material-icons md-48">account_circle</i>
			</md-card-title-media>
		</md-card-title>
		<md-card-actions layout="row" layout-align="end center">
			<md-button class="md-button md-raised md-primary" aria-label="Editar Perfil"
				style="margin-right: 5px;" data-ui-sref="admin.perfis.edicao({slug: profile.slug})">
				<md-icon md-font-library="material-icons">create</md-icon>
				Editar Perfil
			</md-button>
			<md-button class="md-button md-raised md-warn" aria-label="Remover Perfil"
				style="margin-right: 5px;" data-ng-click="vm.deleteDialog($event, profile)">
				<md-icon md-font-library="material-icons">delete</md-icon>
				Remover Perfil
			</md-button>
		</md-card-actions>
	</md-card>
